<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="./assets/petlogo.jpeg" class="img-responsive center-block"/>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted text-center">
        <div class="card-body">
            <h5 class="card-title">Pet Store</h5>
            <p class="card-text">App developed with Angular by alejbarros.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
    </div>
</div>